<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet"  type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{{title}}}</title>
</head>
<body>
    {{!-- <header>
        <div class = "navigation-bar">
            <div class = "container">
                <a = href="/"><img src="/img/logo.jpg" alt = "logo" class = "logo"></a>
                <nav>
                   <input type="checkbox" id="menuToggle">
                   <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/listings">Listings</a></li>
                        <li><a href="/registration">Registration</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header> --}}

         <header>
            <figure class="brand"><a = href="/"><img src="/img/logo.jpg" alt = "logo" class = "logo"></a></figure>
            <nav class="menu">
                <input type="checkbox" id="menuToggle">
                <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/listings"><li>Listings</li></a>
                    <a href="/registration"><li>Registration</li></a>
                    <a href="/login"><li>Login</li></a>
                </ul>
            </nav>
        </header>


    <div class = "hero">
        <h1 class = "hero-header">Professionally Cooked Meals Right At Your Doorstep! </h1>
        <div class = "color-overlay">
            <div class="vid-container">
                <video autoplay loop muted>
                     <source src="/video/food-vid.mp4" type="video/mp4"> 
                </video>
            </div>  
        </div>  
    </div>

    {{{body}}}

    <div class="footer">
        <div class="footer-content"> 
          <div class="footer-section about">
            <a id="bottom_of_page"></a>
            <h1 class ="logo-text"><span>LiveFitFoods</span></h1>
            <p>
              LiveFitfood helps makes food deliveries affordable and easy! Our goal is to brings
              a whole new way to eat. Our in-house chefs help create nourishing dishes that get delivered right to your door!
            </p>
            <div class="contact">
              <span><i class="fa fa-phone">&nbsp; 855-905-4833</i></span>
              <span><a href="mailto: hello@livefitfoods.ca" class="contact-email"><i class="fa fa-envelope"></i></a>&nbsp;hello@livefitfoods.ca</i></span>
            </div>
            <div class="socials">
              <a href="https://www.facebook.com/livefitfood" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/livefitfoods/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.instagram.com/livefitfoods/?hl=en" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
          </div>
          <div class="footer-section links">
            <h1>Other Food Delivery Apps</h1>
            <div class="socials">
              <a href="">Breakfast Menu</a>
              <br>
              <a href="">Lunch Menu</a>
              <br>
              <a href="">Dinner Menu</a>
              <br>
              <a href="">Kids Menu</a>
            </div>
          </div>
      
          <div class="footer-section contact-form">
            <h1>Sign up for our Newsletter</h1>
            <form action="https://formspree.io/myydokbn" method="post">
              <input type="email" name="email" class="text-input contact-input" placeholder="Your email address..."><br><br>
              <button type="submit" class="btn-big btn"> <i class="fa fa-envelope"></i> Subscribe</button>
            </form>
          </div>
        </div>
      
        <div class="footer-bottom">
           &copy; Livefitfood.ca | Designed by Newman Law
        </div>
      </div>

<!--<script src="js/modules.js">
</script>-->



   
</body>
</html>

&nbsp;